html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #95c5f5;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  color: hsl(234, 9%, 21%);
}

.wrapper {
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
}

.quiz-header {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3%;
  font-weight: bold;
}

.quiz-body {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.quiz-buttons {
  display: flex;
  justify-content: center;
}

.quiz-buttons button {
  background-color: rgb(70, 29, 108);
  color: aliceblue;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  padding: 10px 30px;
  margin-right: 20px;
}

#highscore-list {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
  background-color: azure;
  justify-content: space-between;
}

#response {
  font-style: italic;
  color: rgb(57, 60, 78);
  padding-top: 2%;
  font-size: 1.5rem;
}
